<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <form action="/answer" method="get" data-turbo="false" class="border rounded shadow p-4 bg-white">
        <div class="mb-4">
          <label for="questionInput" class="form-label text-secondary">Sua Pergunta</label>
          <input type="text" class="form-control border-0" id="questionInput" name="question"
                 placeholder="Digite sua pergunta aqui..." required aria-describedby="questionHelpBlock">
        </div>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-primary btn-block rounded-pill">Ask!</button>
        </div>
      </form>
    </div>
  </div>
</div>
